@import 'mediaqueries';
@mixin button($color,$hovercolor){
  cursor:pointer;
  border: none;
  background: $color;
  padding: 5px;
  border-radius: 5%;
  font-size: 1rem;
  transition: all 0.2s ease;
  &:hover{
    background: $hovercolor;
    letter-spacing: 1px;
  }
}
img{
    width: 150px;
    @include tablet {
        width: 100px;
      }
      @include mobile {
        width: 50px;
      }
    
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.3rem;
    width: 20vw;
    @include tablet {
      width:35vw;
    }
    @include mobile {
      width: 50vw;
    }
    border-radius: 3%;
    border: 3px solid rgb(79, 98, 96);;
}
h2{
    width: 20vw;
    font-size: 1.25rem;
    @include tablet {
        font-size: 0.85rem;  
      }
}
h3{
    width: 20vw;
    font-size: 1.15rem;
    @include tablet {
        font-size: 0.75rem;  
      }
}
.info{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}
.cancel-button{
  @include button(rgb(255, 106, 106),rgb(255, 85, 85));
}
.minus-button{
  padding: 0 6rem;
  @include button(rgb(8, 86, 154),rgb(83, 152, 166));
}
.plus-button{
  padding: 0 2rem;
  @include button(rgb(8, 86, 154),rgb(83, 152, 166));
}
.buy-button{
  @include button(rgb(8, 154, 81),rgb(83, 166, 125));
}
.contoller{
  display: flex;
  justify-content: space-around;
}