@import 'mediaqueries';
@mixin button($color,$hovercolor){
  cursor:pointer;
  border: none;
  background: $color;
  padding: 5px;
  border-radius: 5%;
  font-size: 1rem;
  transition: all 0.2s ease;
  &:hover{
    background: $hovercolor;
    letter-spacing: 1px;
  }
}
i{
  font-size: calc(0.8rem + 0.5vw);
}
img{
    width: calc(75px + 5vw);
    // @include tablet {
    //     width: 100px;
    //   }
    //   @include mobile {
    //     width: 50px;
    //   }
    
}
.cart{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25vw;
  border: 2px solid rgb(79, 98, 96);
  border-radius: 2%;
  @include tablet {
    width:60vw;
  }
  @include mobile {
    width: 50vw;
  }
}
.prod_cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0.3vw;
    gap: 4px;
    
   
   
   
}
.title{
  font-size: calc(0.8rem + 0.3vw);
}
.price{
    
    font-size: calc(0.75rem + 0.75vw);
}
h3{
    // width: 20vw;
    font-style: oblique;
    text-decoration:underline  rgb(50, 249, 0);
    font-size: calc(0.5rem + 0.5vh);
}
.info{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}
.cancel-button{
  @include button(rgb(255, 106, 106),rgb(255, 85, 85));
}
.minus-button{
  padding: 0 6rem;
  @include button(rgb(8, 86, 154),rgb(83, 152, 166));
}
.plus-button{
  padding: 0 2rem;
  @include button(rgb(8, 86, 154),rgb(83, 152, 166));
}
.buy-button{
  @include button(rgb(8, 154, 81),rgb(83, 166, 125));
}
.contoller{
  display: flex;
  justify-content: space-around;
}