.container{
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    gap:1vw;
    justify-content: space-evenly;
    align-content: center;
}
.main{
    background: rgb(229, 246, 239);
    min-height: 100vh;
}
.category-names{
    background: rgb(124, 176, 155);
}
.option-container{
    display: flex;
    justify-content: center;
    margin:10px 0;
    align-items: baseline;
}
select{
    cursor: pointer;
    border: none;
    padding: 3px;
    font-family: 'Poppins'
  
}